#title {
    font-family: 'Satisfy';
    font-size: 25px;
    color: #711e92;
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
}

body {
    background-image: linear-gradient(to bottom right, #f7524d, #ffcf51);
}


#card-h-1 {
    background-color: rgba(103, 238, 164, 0.5);
}

#card-h-2 {
    background-color: rgba(238, 123, 103, 0.5);
}

a {
    color: lightskyblue;
}

textarea {
    resize: none;
    width: 100%;
}

#btnDonwload, #step2, #contentPrivate, #btnPrivateDonwload {
    display: none;
}

